body {
    font-family: Arial, sans-serif;
}

.container {
    width: 500px; /* Increase the width of the container */
    margin: 0 auto;
    background-color: rgba(112, 0, 0, 0.822);
    padding: 50px;
    padding-left: 80px;
    padding-right: 150px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-content: start;
    margin-bottom: 10px;
    margin-left: 50px;
}

input[type="radio"] {
    margin-right: 2px;
    color: white;
}

input[type="submit"] {
    background-color: white;
    color: rgb(126, 3, 58);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 500px;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #555;
    color: white !important;
}

#he{
    background-color: rgb(126, 3, 58);
    padding-top: 50px;
    padding-bottom: 50px;
}

#hit{
    padding-bottom: 2px;
    margin-bottom: 5px;
    width: 140px;
    padding-left: 8px;
    height: 30px;
}

#yy{
    margin-right: 50px;
    text-align: left;
}

#rty{
text-align: left;}
